body {
    background-color: #333;
    color:#fff;

}
.navbar {
    opacity: 0.7;
    border-bottom:5px solid #008ed6;

}
#home-section{
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 750px;
}
#home-section .dark-overlay{
    position: absolute;
    top:0;
    left:0;
    min-height:750px;
    width:100%;
    background-color: rgba(0,0,0,0.8);
}
#home-section .home-inner{
    padding-top:150px;
}

#home-section .fas{
    color:#008ed6;
    background-color: #fff;
    padding:5px;
    border-radius:5px;

}
#home-section .card-form{
    opacity:0.8;
}

#explore-section .fas, #share-section .fas{
    color:#fff;
    background-color: #333;
    padding:5px;
    border-radius:5px;
}
#create-section .fas{
    color:#fff;
    background:#008ed0;
    padding:5px;
    border-radius:5px;
}
#share-section .fas{
    color:#333;
    background: #fff;
    padding:5px;
    border-radius:5px;
}